@charset "UTF-8";

body{
    background-image: linear-gradient(to right, rgb(0, 4, 255), rgb(0, 153, 255));
}

h1{
    color: white;
    text-align: center;
    font-size: 3em;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.425);
}